.book .book-summary #book-search-input {
  border-top: 0;
}

.book .book-body .book-header {
  position: static;
  top: 27px;
}

.navbar {
  padding-top: .5rem;
  padding-left: 2rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  position: relative;
}

.navbar-brand {
  text-align: left;
}

.navbar .navbar-nav { 
  margin: 0;
  list-style: none;
  float: right;
}

.navbar .navbar-nav .nav-item ~ .nav-item::before {
  content: '|';
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(128, 195, 255);
}

.navbar .navbar-nav .nav-item { 
  display: inline-block;
}

@media (max-width: 991px) {
  .navbar {
    display: none;
  }
}
